<div class="message-component-container">

    <mat-card class="chat-container" *ngIf="chatOpened">
        <mat-form-field>
            <mat-label>Select User</mat-label>
            <mat-select [(ngModel)]="selectedId" (selectionChange)="onSelected()">
                <mat-option *ngFor="let employee of employees" [value]="employee.id">{{employee.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-card *ngIf="userSelected" class="chat-card">
            <span class="error-message" *ngIf="noMessages">
                You have no messages
            </span>

            <ng-container *ngFor="let message of messages; let i = index">
                <div class="message-row" [ngClass]="message.senderId == userId ? 'sent' : 'received'">
                    <div class="message-container">
                        <div class="time-stamp">{{ message.time | date:'shortTime' }}</div>
                        <div class="text-bubble">{{ message.text }}</div>
                    </div>
                </div>

                <div class="date" *ngIf="checkDateChanged(message.time, messages[i + 1]?.time)">
                    {{ message.time | date }}
                </div>
            </ng-container>

        </mat-card>

        <div class="input-container" *ngIf="userSelected">
            <input class="input-box" [(ngModel)]="messageText" placeholder="Type a message...">
            <button mat-icon-button class="send-button" (click)="sendMessage()">
                <mat-icon class="send-icon">send</mat-icon>
            </button>
        </div>

    </mat-card>

    <button mat-icon-button class="chat-button" (click)="toggleChat()">
        <mat-icon class="message-icon">message</mat-icon>
    </button>

</div>